<div class="row mb-3">
  <div class="col-sm-6">
    <h1>Places</h1>

    <% if @current_user%>

      <p>
           <a class="btn btn-outline-dark" href="/places/new">New place</a>
      </p>

      <ul>
        <% for place in @places %>
          <li><a href="/places/<%= place["id"] %>"><%= place["name"] %></a></li>
        <% end %>
      </ul>

    <% end %>
  
  </div>
</div>